$accent-color: rgb(0, 96, 185);

.instruction_container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    border: 1px solid black;
}

%arrow {
    font-size: 3em;
    top: 0;
    transition: top ease 1s;
    color: rgba(0, 96, 185, 0.3);
}

.arrow_up {
    @extend %arrow;
}

.arrow_down {
    @extend %arrow;
}
.arrow_up:hover {
    color: $accent-color;
    top: -15px;
}

.arrow_down:hover {
    color: $accent-color;
    top: 15px;
}

b {
    color: $accent-color;
}